#filterpro .option_box {
    /*border: 1px solid #484848;*/
    /*border-radius: 7px;*/
    display: inline-block;
    margin: 5px;
    min-width: 138px;
    padding: 5px;
    vertical-align: top;
    width: 97%;
    /*position: relative;*/
    /*overflow: hidden;*/
}

#filterpro .price_limit {
    border: 0;
    color: #7bc33b;
    font-weight: bold;
    width: 100%;
}

#filterpro .ui-widget-header {
    background: none repeat scroll 0 0 #7bc33b;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
}

#filterpro select {
    width: 126px;
}

#filterpro .ui-state-hover, #filterpro .ui-state-focus, #filterpro .ui-state-active {
    border: 1px solid #7bc33b;
    background: none repeat scroll 0 0 #d9f2fc;
}

#filterpro .price_slider {
    padding: 5px;
}

#filterpro .option_values {
    padding-top: 5px;
}

#filterpro .option_name, #filterpro .attribute_group_name {
    background: url("../image/filter-bullet-down.png") no-repeat scroll right 8px center transparent;
    cursor: pointer;
    padding: 10px;
    background-color: #484848;
    color: #fff;
    width: 100%;
    font-size: 1.2em;
    border-radius: 10px;
    margin-bottom: 10px;
}

#filterpro .attribute_group_name{
    padding-left: 0;
}

#filterpro .hided {
    background: url("../image/filter-bullet-up.png") no-repeat scroll right center transparent;
    cursor: pointer;
}

#filterpro .clear_filter {
    border-bottom: 1px dashed;
    text-decoration: none;
    float: right;
}

#filterpro img {
    cursor: pointer;
    margin: 2px
}

#filterpro img.selected {
    border: 2px solid;
    margin: 0;
}